<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsmscp.dr.mapper.PlatformOperateLogMapper">
  <resultMap id="BaseResultMap" type="com.jsmscp.dr.entity.PlatformOperateLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operate_at" jdbcType="TIMESTAMP" property="operateAt" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="req_param" jdbcType="VARCHAR" property="reqParam" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, operator, operate_at, url, ip, req_param, create_at, update_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from platform_operate_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from platform_operate_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jsmscp.dr.entity.PlatformOperateLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into platform_operate_log (operator, operate_at, url,
    ip, req_param, create_at,
    update_at)
    values (#{operator,jdbcType=VARCHAR}, #{operateAt,jdbcType=TIMESTAMP}, #{url,jdbcType=VARCHAR},
    #{ip,jdbcType=VARCHAR}, #{reqParam,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP},
    #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jsmscp.dr.entity.PlatformOperateLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into platform_operate_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="operator != null">
        operator,
      </if>
      <if test="operateAt != null">
        operate_at,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="reqParam != null">
        req_param,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateAt != null">
        #{operateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="reqParam != null">
        #{reqParam,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jsmscp.dr.entity.PlatformOperateLog">
    update platform_operate_log
    <set>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateAt != null">
        operate_at = #{operateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="reqParam != null">
        req_param = #{reqParam,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jsmscp.dr.entity.PlatformOperateLog">
    update platform_operate_log
    set operator = #{operator,jdbcType=VARCHAR},
      operate_at = #{operateAt,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      req_param = #{reqParam,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="list" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from platform_operate_log
    <where>

      <if test="operator != null and operator != ''">
        <bind name="operators" value="'%' + operator + '%'"/>
        operator LIKE #{operators}
      </if>
      <if test="startTime != null and startTime != ''">
        <![CDATA[ AND operate_at >= #{startTime} ]]>
      </if>
      <if test="endTime != null and endTime != ''">
        <![CDATA[ AND operate_at <= #{endTime} ]]>
      </if>
    </where>
    ORDER BY operate_at DESC
    LIMIT ${pageNo},${pageSize}
  </select>

  <select id="findTotal" resultType="java.lang.Integer">
    SELECT
    count(*)
    from platform_operate_log
    <where>

      <if test="operator != null and operator != ''">
        <bind name="operators" value="'%' + operator + '%'"/>
        operator LIKE #{operators}
      </if>
      <if test="startTime != null and startTime != ''">
        <![CDATA[ AND operate_at >= #{startTime} ]]>
      </if>
      <if test="endTime != null and endTime != ''">
        <![CDATA[ AND operate_at <= #{endTime} ]]>
      </if>
    </where>
  </select>

<select id="findAllOperator" resultMap="BaseResultMap">
    SELECT
    DISTINCT operator
    FROM  platform_operate_log
</select>

</mapper>