/*屏幕小于1366时*/
@media screen and (max-width: 1366px){
    .modal-dialog{
        width: 53%;
        top: 20%;
    }

    .search-keyword{
        width: 80%;
    }
}

@media screen and (max-width: 1024px){
    .modal-dialog{
        width: 70%;
        top: 20%;
    }
}

/*屏幕大于1366时*/
@media screen and (min-width: 1366px){
    .modal-dialog{
        width: 40%;
        top: 20%;
    }
    .search-keyword{
        width: 60%;
    }
}

